<nav {...Astro.props}>
  <a href="#top">Inicio</a>
  <a href="#experiencia">Experiencia</a>
  <a href="#proyectos">Proyectos</a>
  <a href="#sobre-mi">Sobre mi</a>
  <a href="#contacto">Contacto</a>
</nav>
