---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`pl-4 pr-7 w-96 flex flex-col justify-items-center justify-center sm:w-full lg:w-[740px] mx-auto ${className}`}
>
  <slot />
</section>
